* {
    font-family: "Azeret Mono", monospace;
}

.Navigation {
    display: flex;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
    margin-top: 40px;

}

.Nav-title {
    color: black;
    font-size: 22px;
    font-weight: 800px;

}

.Nav-btn {
    /* width: 200px;
    height: 30px; */
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 10px;
    border: 1px solid rgb(13, 19, 33);
    background-color: white;
    padding-inline: 15px;
}

.header-main {
    background-image: url(assets/Hero-bg.png);
    height: 620px;
}

.header-container {
    margin-top: 26px;
    text-align: center;
    padding-top: 30px;
}

.header-div-title {
    font-size: 40px;
    font-weight: 800px;
    color: rgb(13, 19, 33);

}

.header-div-descripation {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400px;

}

.header-div-btn {
    padding-top: 20px;
}

.Header-btn {
    width: 208px;
    height: 66px;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: white;
    font-size: 16px;
}