* {
    font-family: "Azeret Mono", monospace;
}

.Navigation {
    display: flex;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
    margin-top: 40px;

}

.Nav-title {
    color: black;
    font-size: 22px;
    font-weight: 800px;

}

.Nav-btn {
    /* width: 200px;
    height: 30px; */
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 10px;
    border: 1px solid rgb(13, 19, 33);
    background-color: white;
    padding-inline: 15px;
}

.header-main {
    background-image: url(assets/Hero-bg.png);
    height: 620px;
}

.header-container {
    margin-top: 26px;
    text-align: center;
    padding-top: 30px;
}

.header-div-title {
    font-size: 40px;
    font-weight: 800px;
    color: rgb(13, 19, 33);

}

.header-div-descripation {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400px;

}

.header-div-btn {
    padding-top: 20px;
}

.Header-btn {
    width: 208px;
    height: 66px;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: white;
    font-size: 16px;
}

/* 1st section */
.section1-main {
    width: 1540px;
    height: 1393px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-inline: auto;
}

.content-center {
    text-align: center;
    padding-top: 50px;
}

.section1-main-title {
    font-size: 32px;
    font-weight: 800px;
    color: rgb(13, 19, 33);
}

.section1-main-title-description {
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400px;

}

.section1-lyyer1-main {
    display: flex;
    width: 1246px;
    height: 270px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    margin-inline: auto;
    margin-top: 100px;
    justify-content: space-between;
}

.section1-lyyer1-main-subdiv {
    padding-left: 50px;
    padding-top: 40px;

}

.section1-lyyer1-title {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700px;

}

.section1-lyyer1-descripation {
    font-size: 14px;
    font-weight: 400px;
    color: rgb(13, 19, 33);
}

.section1-lyyer1-main-btn {
    width: 171px;
    height: 47px;
    font-size: 15px;
    margin-top: 20px;

}

.section1-lyyer1-main-subdiv2 {
    padding-top: 60px;
    padding-right: 50px;

}

.sections-divs {
    margin-inline-end: auto;
    margin-left: 150px;
}

.section2-main {
    width: 1540px;
    height: 593px;
    border-radius: 16px;
    /* background: rgba(13, 19, 33, 0.02); */
    margin-inline: auto;
    text-align: center;
    margin-top: 100px;
}
.section2-main-title{
    font-size: 32px;
    font-weight: 800px;
    color: rgb(13, 19, 33);
}
.section2-main-subtitle{
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400px;

}
.section2-video{
    background:rgb(244, 244, 242);
    width: 620px;
    height: 350px;
    padding-top: 25px;
    border-radius: 20px;
    margin-left: 30%;
    margin-top: 100px;

}